h2.page-title Pure CSS Switch - Material Design (mdl) inspired

.wrapper
	.pure-css-switch.dark-bg
		label Switch me
			input(
				type="checkbox" 
				class="simple-switch-input" 
				checked
			)
			span.simple-switch.dark
					
					


