.wrapper

	.clouds
		.a-cloud
		.a-cloud
		
	.character-design
	
		.cd-head
			.hair-detail
			.hair
			.hair-fringe
			.face
				.ears
					.ear.left
					.ear.right 
				.face-wrap
					.eyes
						.left-eye
							.eye-brow
							.eye
						.right-eye
							.eye-brow
							.eye
					.nose
					.mounth
					
		.cd-body
			.arms.left-arm
				.biceps
				.shirtleeves
				.forearm
				.hands
					.palm
					.fingers
						.four-fingers
							.finger.pinky
							.finger.ring
							.finger.middle
							.finger.index
						.finger.thumb
			.torso
				.chest
				.shirt-collar
				.belly
			.arms.right-arm
				.biceps
				.shirtleeves
				.forearm
				.hands
					.palm
					.fingers
						.four-fingers
							.finger.pinky
							.finger.ring
							.finger.middle
							.finger.index
						.finger.thumb
				
		.cd-legs


