- var groundRocks = 15

	.wrapper
		.zombie
			.zombie__head
				.zombie__brain
				.zombie__cheeks
				.zombie__chin

				.zombie__eyes
					.eye.left
						.eyebrow

					.eye.right
						.eyebrow

				.zombie__nose

				.zombie__mouth
					.tooth
						.tooth__top
						.tooth__bottom

			.zombie__body
				.zombie__chest
					.zombie__arms
						.arm.left
							.arm__bone
							.arm__sleeve

						.arm.right
							.arm__details
								.arm__biceps
								.arm__forearm

								.hands
									.fingers
										.finger.thumb
										.finger.middle
										.finger.index
										.finger.ring
										.finger.pinky

							.arm__sleeve

		.ground
			.ground__hole

			.ground__rocks
				while groundRocks--
					.rock

			.tomb
				.tomb__info
					h1.headers RIP
					h4.headers "A dev who drank a lot of coffee."
					h5.headers Daily CSS Images Challenge | 17.
			.brains-comic-box
				h1.brains__text Braaains !