.head
	h2.title Cub (I chose my bunny: Shoyo)
		span.subtitle ~ Daily CSS Images | 01
	
.wrapper
	.bunny
		.bunny__head
			.bunny__ears
			.bunny__eyes
				.eye.left
				.eye.right

			.bunny__nose
			.bunny__mouth
				.tooth

			.bunny__whiskers
				.whiskers.left
				.whiskers.right
				
		.bunny__body
			.bunny__chest
				.chest-details
				.bunny__front-paws
					.paw.left
					.paw.right

			.bunny__back-paws
					.paw.left
					.paw.right
	
	.ground
